mixin section-7
    section.section-7#section-7
        .container-fluid
            .section-wrapper
                h4.section__title Отзывы
                .position-relative
                    .swiper.reviews-slider
                        .swiper-wrapper
                            .swiper-slide
                                .reviews
                                    .reviews__header
                                        .reviews__img
                                            img(src="images/review-img-1.jpg", alt="")
                                        .reviews__title Прекрасная игрушка !
                                        .reviews__desc Играя с&nbsp;мягкой озвученной игрушкой Жоржиком, ребёнок развивает тактильное и&nbsp;звуковое восприятие, воображение, речь. Игрушка сшита из&nbsp;мягкого, приятного на&nbsp;ощупь материала (плюша). Игрушка работает от&nbsp;3&nbsp;батареек типа AG13/LR44 (входят в&nbsp;комплект). Размер: 25&nbsp;см. Играя с&nbsp;мягкой озвученной игрушкой
                                    .reviews__footer 
                                        .reviews__name Екатерина 
                                        .reviews__address Москва, Купила по акции 25/12/2022
                            .swiper-slide
                                .reviews.reviews--bg-2
                                    .reviews__header
                                        .reviews__img
                                            img(src="images/review-img-2.jpg", alt="")
                                        .reviews__title Сыну очень <br>понравилось
                                        .reviews__desc Играя с&nbsp;мягкой озвученной игрушкой Жоржиком, ребёнок развивает тактильное и&nbsp;звуковое восприятие, воображение, речь. Игрушка сшита из&nbsp;мягкого, приятного на&nbsp;ощупь материала (плюша). Игрушка работает от&nbsp;3&nbsp;батарее
                                    .reviews__footer 
                                        .reviews__name Анатолий 
                                        .reviews__address Москва, Купила по акции 25/12/2022
                                
                    .swiper-btn-main
                        .swiper-button-prev.reviews-slider-btn
                        .swiper-button-next.reviews-slider-btn
