mixin section-2
    section.section-2#section-2
        .container-fluid
            .section-2-row
                .section-2__lft
                    h2.section-sub__title.color-1 Привет, <br>Миа
                    .text--desc 
                        p  Мягкая игрушка Жоржик из&nbsp;мультсериала &laquo;Кошечки-Собачки&raquo; в&nbsp;клетчатой рубашке станет прекрасным другом ребёнку! Игрушку очень хочется обнимать и&nbsp;придумывать с&nbsp;ней весёлые истории.
                .section-2__rght
                    img(src="images/hello__img-1.jpg", alt="")
            .section-2-row
                .section-2__lft
                    img(src="images/hello__img-2.jpg", alt="")    
                .section-2__rght
                    h2.section-sub__title.color-2 Спой мне <br>Миа
                    .text--desc
                        p  Мягкая игрушка Жоржик из&nbsp;мультсериала &laquo;Кошечки-Собачки&raquo; в&nbsp;клетчатой рубашке станет прекрасным другом ребёнку! Игрушку очень хочется обнимать и&nbsp;придумывать с&nbsp;ней весёлые истории.                 
            .section-2-row
                .section-2__lft
                    h2.section-sub__title.color-3 Воображение ребенка
                    .text--desc 
                        p  Мягкая игрушка Жоржик из&nbsp;мультсериала &laquo;Кошечки-Собачки&raquo; в&nbsp;клетчатой рубашке станет прекрасным другом ребёнку! Игрушку очень хочется обнимать и&nbsp;придумывать с&nbsp;ней весёлые истории.
                .section-2__rght
                    img(src="images/hello__img-3.jpg", alt="")