mixin section-4
    section.section-4
        .container-fluid
            .section-wrapper
                .section-4-wrapper
                    h3.mia__title.text-center Купи Мию сегодня
                    .section-4-main
                        #countdown.countdown
                            .countdown__title  До конца акции  осталось:
                            .countdown-row
                                .countdown-number
                                    span.hours.countdown-time
                                    .countdown-text Часов
                                span.ch :
                                .countdown-number
                                    span.minutes.countdown-time
                                    .countdown-text Минут
                                span.ch :
                                .countdown-number
                                    span.seconds.countdown-time
                                    .countdown-text Секунд
                        .action-prices
                            .action-prices__old
                                span Старая цена:
                                strong 2000P
                            .action-prices__new
                                span Цена по акции:
                                strong 1599P
                    a.button.scrollto_item(href="#section-9") Заказать сейчас