mixin section-8
    section.section-8#section-8
        .container-fluid
            .section-wrapper
                h4.section__title.text-center Ответы
                .accordion.pt-0.pt-lg-2
                    #accordion
                        .cards
                            #h-accordion-1.cards-header
                                h5.mb-0
                                    div(data-toggle='collapse' data-target='#accordion-1' aria-expanded='true' aria-controls='accordion-1' ) Где купить Жорижика?
                            #accordion-1.collapse.show(aria-labelledby='h-accordion-1' data-parent='#accordion')
                                .cards-body
                                    p Играя с&nbsp;мягкой озвученной игрушкой Жоржиком, ребёнок развивает тактильное и&nbsp;звуковое восприятие, воображение, речь. Игрушка сшита из&nbsp;мягкого, приятного на&nbsp;ощупь материала (плюша). Игрушка работает от&nbsp;3&nbsp;батареек типа AG13/LR44
                        .cards
                            #h-accordion-2.cards-header
                                h5.mb-0
                                    div(data-toggle='collapse' data-target='#accordion-2' aria-expanded='false' aria-controls='accordion-2' class="collapsed") Из чего сделан Жоржик?
                            #accordion-2.collapse(aria-labelledby='h-accordion-2' data-parent='#accordion')
                                .cards-body
                                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                        .cards
                            #h-accordion-3.cards-header
                                h5.mb-0
                                    div(data-toggle='collapse' data-target='#accordion-3' aria-expanded='false' aria-controls='accordion-3' class="collapsed") Какие материалы используются?
                            #accordion-3.collapse(aria-labelledby='h-accordion-3' data-parent='#accordion')
                                .cards-body
                                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        .cards
                            #h-accordion-4.cards-header
                                h5.mb-0
                                    div(data-toggle='collapse' data-target='#accordion-4' aria-expanded='false' aria-controls='accordion-4' class="collapsed") Когда закончится акция?
                            #accordion-4.collapse(aria-labelledby='h-accordion-4' data-parent='#accordion')
                                .cards-body
                                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        .cards
                            #h-accordion-5.cards-header
                                h5.mb-0
                                    div(data-toggle='collapse' data-target='#accordion-5' aria-expanded='false' aria-controls='accordion-5' class="collapsed") Сколько Жоржиков осталось?
                            #accordion-5.collapse(aria-labelledby='h-accordion-5' data-parent='#accordion')
                                .cards-body
                                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS
                .text-center
                    a(href="").all-questions Отстальные вопросы