mixin section-3
    section.section-3#section-3
        .container-fluid
            .section-wrapper
                h4.section__title Характеристики
                ul.characteristic 
                    .characteristi-col
                        li.characteristic__item
                            span.characteristic__key Наименование ИМ
                            span.characteristic__value Мягкая игрушка Жоржик &laquo;Кошечки-Собачки&raquo;, со&nbsp;звуком, 25&nbsp;см
                        li.characteristic__item
                            span.characteristic__key Бренд-производитель 
                            span.characteristic__value Росмэн
                        li.characteristic__item
                            span.characteristic__key Пол
                            span.characteristic__value Для мальчиков и девочек
                        li.characteristic__item
                            span.characteristic__key Страна 
                            span.characteristic__value Китай
                        li.characteristic__item
                            span.characteristic__key Мультфильм
                            span.characteristic__value Кошечки-Собачки
                    .characteristi-col
                        li.characteristic__item
                            span.characteristic__key Длина (см)
                            span.characteristic__value 25
                        li.characteristic__item
                            span.characteristic__key Ширина (см)
                            span.characteristic__value 11
                        li.characteristic__item
                            span.characteristic__key Высота (см)
                            span.characteristic__value 8
                        li.characteristic__item
                            span.characteristic__key Вес
                            span.characteristic__value 120
                .tag-age от 2 до 18 лет