mixin section-1
    .mobile-menu
        nav.nav
            a(href="#section-2").nav__link.scrollto_item О жоржике
            a(href="#section-3").nav__link.scrollto_item Характеристики
            a(href="#section-5").nav__link.scrollto_item Похожие
            a(href="#section-7").nav__link.scrollto_item Отзывы
            a(href="#section-8").nav__link.scrollto_item Ответы
        ul.socail
            li.socail__item
                a(href="").socail__link.socail__link--tg
            li.socail__item
                a(href="").socail__link.socail__link--wh            
    .section-1
        header
            .container-fluid
                .header-wrapper
                    .logo Лого
                    nav.nav
                        a(href="#section-2").nav__link.scrollto_item О жоржике
                        a(href="#section-3").nav__link.scrollto_item Характеристики
                        a(href="#section-5").nav__link.scrollto_item Похожие
                        a(href="#section-7").nav__link.scrollto_item Отзывы
                        a(href="#section-8").nav__link.scrollto_item Ответы
                    .header-contacts
                        a(href="tel:+79856004466").header-contacts__phone +7 (985) 600-4466
                        ul.socail
                            li.socail__item
                                a(href="").socail__link.socail__link--tg
                            li.socail__item
                                a(href="").socail__link.socail__link--wh
                    button.header-contacts__callback(aria-label="Перезвоните мне"  data-toggle="modal" data-target="#modal-callback") Перезвоните мне
                    button.open-menu.js-open-menu
                        span 
                        span 
                        span 

        .section-1__wrapper
            .container-fluid
                .section-1-main
                    .section-1-main__preview
                        img(src="images/image-removebg-preview.png", alt="")
                    .section-1-main__content
                        h1.title Мия с&nbsp;сердечком
                        .text--desc 
                            p При нажатии на&nbsp;животик она воспроизводит 1&nbsp;стихотворение, 3&nbsp;фразы и&nbsp;2&nbsp;весёлые песни из&nbsp;мультфильма &laquo;Кошечки-Собачки&raquo;.
                            p от РОССМЕ
                        a.button.scrollto_item(href="#section-9") Купить за 1190 ₽  


            