mixin section-6
    section.section-6
        .container-fluid
            .section-wrapper
                h4.section__title Доставка и опалата
                .row.pt-4
                    .col-lg-3.col-md-6.mb-3.mb-lg-0
                        .stem-item
                            .stem-item__bg
                                img(src="images/stem-item-1.svg", alt="")
                                .stem-item__number 1
                            .stem-item__desc Заполните форму обратной связи и&nbsp;дождитесь звонка оператора
                    .col-lg-3.col-md-6.mb-3.mb-lg-0
                        .stem-item
                            .stem-item__bg
                                img(src="images/stem-item-2.svg", alt="")
                                .stem-item__number 2
                            .stem-item__desc Быстрая доставка от&nbsp;3&nbsp;до&nbsp;10&nbsp;дней. Стоимость достаки 350P
                    .col-lg-3.col-md-6.mb-3.mb-lg-0
                        .stem-item
                            .stem-item__bg
                                img(src="images/stem-item-3.svg", alt="")
                                .stem-item__number 3
                            .stem-item__desc Оплата производится только при получении товара на&nbsp;руки
                    .col-lg-3.col-md-6.mb-3.mb-lg-0
                        .stem-item
                            .stem-item__bg
                                img(src="images/stem-item-4.svg", alt="")
                                .stem-item__number 4
                            .stem-item__desc Вся наша продукция прошла полную проверку качества