mixin section-5
    section.section-5#section-5
        .container-fluid
            .section-wrapper
                h4.section__title Похожие товары
            .swiper.similar-products-slider
                .swiper-wrapper
                    .swiper-slide 
                        .product
                            .product__img
                                img(src="images/slider-img-1.jpg", alt="")
                                .tag Новинка
                            .product__type Мягкая игрушка
                            .product__name Миа c сердечком
                            .product__category “Кошечки-Собачки”
                            .product__price 1620P
                    .swiper-slide 
                        .product
                            .product__img
                                img(src="images/slider-img-2.jpg", alt="")
                                .tag Новинка
                            .product__type Мягкая игрушка
                            .product__name Миа
                            .product__category “Кошечки-Собачки”
                            .product__price 1599P
                    .swiper-slide 
                        .product
                            .product__img
                                img(src="images/slider-img-3.jpg", alt="")
                            .product__type Мягкая игрушка
                            .product__name Викки с ключем
                            .product__category “Кошечки-Собачки”
                            .product__price 1020P
                    .swiper-slide 
                        .product
                            .product__img
                                img(src="images/slider-img-4.jpg", alt="")
                            .product__type Мягкая игрушка
                            .product__name Миа
                            .product__category “Кошечки-Собачки”
                            .product__price 999P

            .swiper-btn-main
                .swiper-button-prev.similar-products-slider-btn
                .swiper-button-next.similar-products-slider-btn
